.container {
  width: calc(100% - 48px);
  background-color: var(--primary-color);
  border-radius: 16px;
  border: 1px solid var(--border-color);
  padding: 24px;
  margin-bottom: 28px;
}

.time {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 24px;
}

.item {
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.date {
  background-color: var(--primary-color);
  border-radius: 16px;
  border: 1px solid var(--border-color);
  padding: 16px;
}

.arrow {
  background-color: var(--primary-color);
  border-radius: 16px;
  border: 1px solid var(--border-color);
  padding: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
